<!-- <p>
    <mat-toolbar class="mat-elevation-z5">
        <button mat-icon-button (click)="snav.toggle()" class=" example-icon " aria-label="Example icon-button with menu icon ">
            <mat-icon class=" ">menu</mat-icon>
        </button>
        <span>tiagosantos.dev</span>
        <span class="example-spacer "></span>
        <a mat-icon-button class="example-icon " aria-label="Example icon-button with share icon ">
            <span matBadge="4" matBadgeOverlap="false" matBadgePosition="before">
                 <div mat-card-avatar class="example-header-image " [matMenuTriggerFor]="person">
                 </div>
            </span>
        </a>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu ">
            <mat-icon>grain</mat-icon>
          </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Ajustes</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Desabilitar alertas</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>logout</mat-icon>
                <span>Sair</span>
              </button>
        </mat-menu>

        <mat-menu #person="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Perfil</span>
              </button>
            <button mat-menu-item>
              <mat-icon>people</mat-icon>
              <span>Todos os amigo</span>
            </button>

        </mat-menu>

    </mat-toolbar>
</p>




<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <ul class="sidebar">
                <li><a href="">Inicio</a></li>
                <li><a href="">Inicio</a></li>

                <li><a href="">Inicio</a></li>

                <li><a href="">Inicio</a></li>

                <li><a href="">Inicio</a></li>

                <li><a href="">Inicio</a></li>

                <li><a href="">Inicio</a></li>

                <li><a href="">Inicio</a></li>

            </ul>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
 -->


<router-outlet></router-outlet>



<!-- <br><br><br><br>
<div class="d-flex align-items-center justify-content-center " style="background-color: #3C4043; height: 10vh; position: relative; bottom: 0px; ">
    <div class="text-white ">
        <span>Todos os direitos reservados &copy;</span>
    </div>
</div> -->